.chat-details {
    display: flex;
    width: clamp(35%,50%, 60%);
    margin: auto;
    justify-content: space-between;
    align-items: center;

    .change-room-icon-span {
        padding: 0.1rem 0.5rem 0.1rem 0;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        font-size: 18px;

        &:hover {
            color: rgb(61, 173, 117);
        }
    }
}

@media only screen and (max-width:970px) {
    .chat-details {
        width: 75%;
    }
}

@media only screen and (max-width:660px) {
    .chat-details {
        width: 85%;
    }
}
@media only screen and (max-width:470px) {
    .chat-details {
        width: 95%;
    }
}